[data-bs-theme="light"] {
    --bs-body-bg: #f5f7fa;
    --bs-body-color: #1e293b;

    --bs-body-secondary-bg: #e9eef5;
    --bs-primary: #0078d4;
    --bs-primary-rgb: 0, 120, 212;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #111827;
    --bs-body-color: #e5e7eb;

    --bs-body-secondary-bg: #1f2937;
    --bs-primary: #4da3ff;
    --bs-primary-rgb: 77, 163, 255;
}